.product_box {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
}

.product_box img {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
}

.product_box figcaption {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 5px;
  background-color: rgba(55, 55, 55, 0.5);
  color: white;
}
