@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@font-face {
  font-family: 'luna';
  font-weight: normal;
  src: url(../luna_2/Luna.ttf) format("truetype");
  font-style: normal;
}

/* line 11, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
.product_box {
  display: grid;
  grid-template-columns: 1fr;
}

/* line 14, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
.product_box img {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
}

/* line 19, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
.product_box figcaption {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 5px;
  background-color: rgba(55, 55, 55, 0.5);
  color: white;
}

/* line 32, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
section h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 2em;
  font-family: 'luna';
  color: #666;
}

/* line 40, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
section .filter {
  width: 85%;
}

/* line 42, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
section .filter ul {
  cursor: pointer;
  text-transform: uppercase;
}

/* line 45, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
section .filter ul > li {
  padding: 4px;
}

/* line 47, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
section .filter ul > li > ul li {
  display: none;
}

/* line 50, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
section .filter ul > li:hover, section .filter ul > li:active > ul li {
  margin: 5px;
  padding: 3px;
  display: block;
}

/* line 54, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
section .filter ul > li:hover:hover, section .filter ul > li:hover:active, section .filter ul > li:active > ul li:hover, section .filter ul > li:active > ul li:active {
  transform: scale(1.05);
  background-color: rgba(55, 55, 55, 0.5);
}

/* line 60, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
section .filter ul li {
  cursor: pointer;
  list-style: none;
  background-color: rgba(55, 55, 55, 0.3);
  color: inherit;
  font-size: inherit;
  box-shadow: 10px 5px 15px black;
}

/* line 73, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
footer {
  height: 28vh;
}

/* line 75, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
footer .social-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* line 78, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
footer .social-media a img {
  width: 100%;
}

/* line 84, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
nav {
  z-index: 20;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  width: 100vw;
  height: 10vh;
  position: fixed;
  background: #b6e2ff;
  background: linear-gradient(90deg, #b6e2ff 0%, #ffd9e6 100%);
  bottom: 0%;
}

/* line 96, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
nav a img {
  width: 100%;
}

/* line 103, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 106, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #ffd9e6;
  background: linear-gradient(90deg, #ffd9e6 0%, #b6e2ff 100%);
}

/* line 111, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
header img {
  width: 100%;
}

/* line 114, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
header input {
  display: flex;
  align-self: center;
}

/* line 118, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
header .seach_bar {
  width: 75%;
  height: 40%;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Font Awesome\ 5 Free;
}

@media screen and (min-width: 1024px) {
  /* line 133, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 40vh);
  }
  /* line 137, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
  main .product_box {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* line 140, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
  main .product_box:hover figcaption, main .product_box:active figcaption {
    opacity: 1;
    transition: 0.5s;
  }
  /* line 144, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
  main .product_box img {
    grid-column: 1/2;
    grid-row: 1/3;
    object-fit: scale-down;
    width: auto;
    height: 100%;
  }
  /* line 151, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
  main .product_box figcaption {
    opacity: 0;
  }
  /* line 159, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
  section .filter {
    font-size: 1.5em;
    width: 20vw;
  }
  /* line 165, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
  section .filter ul > li > ul {
    position: absolute;
    left: calc(4% - 1vw);
  }
  /* line 169, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
  section .filter ul > li > ul li {
    width: 13vw;
    font-size: 0.8em;
  }
  /* line 174, C:/Users/Zainde/github/Bufas/scss/boy_shop.scss */
  section .filter ul > li:hover:hover, section .filter ul > li:hover:active, section .filter ul > li:active > ul li:hover, section .filter ul > li:active > ul li:active {
    background-color: rgba(55, 55, 55, 0.7);
  }
}

/*# sourceMappingURL=../css/boy_shop.map */