@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

@font-face {
    font-family: 'luna';
    font-weight: normal;
src: url(../luna_2/Luna.ttf) format("truetype");
font-style: normal;

}

.product_box{
  display: grid;
  grid-template-columns: 1fr;
  img{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
  }
  figcaption{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 5px;
    background-color:rgba(55,55,55,0.5);
    color: white;
  }

}
section{



  h1{
        text-transform: capitalize;
        text-align: center;
        font-size: 2em;
        font-family: 'luna';
        color: #666;
  }

.filter{
  width: 85%;
  ul{
    cursor: pointer;
    text-transform: uppercase;
    > li{
      padding: 4px;
      > ul li{
        display: none;
      }
      &:hover > ul li, &:active > ul li{
        margin: 5px;
        padding: 3px;
        display: block;
        &:hover, &:active{
          transform: scale(1.05);
          background-color:rgba(55,55,55,0.5);
        }
      }
    }
    li{
      cursor: pointer;
      list-style: none;
      background-color:rgba(55,55,55,0.3);
      color:inherit;
      font-size: inherit;
      box-shadow: 10px 5px 15px black;

    }
  }
}

}
footer{
    height: 28vh;
    .social-media{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      a img{
        width: 100%;
      }
    }
}

nav{
    z-index: 20;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    width: 100vw;
    height: 10vh;
    position: fixed;
    background: rgb(182,226,255);
    background: linear-gradient(90deg, rgba(182,226,255,1) 0%, rgba(255,217,230,1) 100%);
    bottom: 0%;
    a{
    img{
        width: 100%;
    }
    //
    }
}

body{
    font-family: 'Open Sans', sans-serif;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(255,217,230);
background: linear-gradient(90deg, rgba(255,217,230,1) 0%, rgba(182,226,255,1) 100%);
img{
    width: 100%;
}
input{
    display: flex;
    align-self: center;
}
.seach_bar{
    width: 75%;
    height: 40%;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Font Awesome\ 5 Free;


}

}



  @media screen and (min-width: 1024px) {
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 40vh);
  .product_box{
    display: grid;
    grid-template-columns: 1fr;
    &:hover figcaption, &:active figcaption{
      opacity: 1;
      transition: 0.5s;
    }
    img{
      grid-column: 1/2;
      grid-row: 1/3;
      object-fit: scale-down;
      width: auto;
      height: 100%;
    }
    figcaption{
  opacity: 0;
    }

  }
}

section{
.filter{
  font-size: 1.5em;
  width: 20vw;
  ul{
    > li{

      > ul{
        position: absolute;
        left: calc(4% - 1vw);
      }
      > ul li{
        width: 13vw;
        font-size: 0.8em;
      }
      &:hover, &:active> ul li{
        &:hover, &:active{
          background-color:rgba(55,55,55,0.7);
        }
      }
    }
  }
}

}


}
